<div class="row about-content d-flex justify-content-center">
  <div class="about-content__call-to-action">

    <h1 class="about-content__call-to-action--title">
      {{ aboutPage?.fields.title }}
    </h1>
    <h2 class="about-content__call-to-action--subtitle">
      {{ aboutPage?.fields.subtitle }}
    </h2>
    <p class="about-content__call-to-action--preface">
      {{ aboutPage?.fields.preface }}
    </p>

    <blockquote class="about-content__call-to-action--banner">
      {{ aboutPage?.fields.banner }}
    </blockquote>

    <div markdown [data]="aboutPage?.fields.body" class="about-content__call-to-action--content">
    </div>
  </div>

</div>

