.footer {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 13rem;
  padding-bottom: 4rem;
  font-family: CrimsonText-Roman;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-size: cover;
  a {
    color: #ffffff;
  }
}

.news-letter-subscription__title {
  font-family: brandon_grotesqueblack;
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: 1.3px;
  text-align: left;
  color: #f8f8f8;
}

.news-letter-subscription__call-to-action {
  font-family: CrimsonText-Roman;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.news-letter-subscription__disclaimer {
  font-family: SourceSerifPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.news-letter-subscription__button {
  font-family: brandon_grotesquemedium;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #f8f8f8;
  width: 90%;
  height: 40px;
  border-radius: 4px;
  background-color: #ea9015;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.copyright {
  font-family: SourceSerifPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

