<div class="row footer pl-2 pr-2" [ngStyle]="{'background-image': 'url('+ backgroundImage + ')'}">
  <div class="col-12 col-md-8 pr-md-5 mb-3 footer__columnLeft">
    <div class="border-bottom">
      <p>
        NSFO is een professionele organisatie voor schapen- en geitenfokkers.
      </p>
      <ul>
        <li>Registreren van schapen en geiten en hun afstamming;</li>
        <li>Prestatieonderzoeken;</li>
        <li>Fokwaardeberekening;</li>
        <li>Bloed- en DNA onderzoeken van schapen en geiten;</li>
        <li>Afgifte van dierengezondheids certificaten.</li>
      </ul>
    </div>

    <div class="border-bottom">
      <p>
        NSFO
      </p>
      <p>
        Postbus 160, 5300 AD Zaltbommel
      </p>
      <p>T: 0418-561712</p>
    </div>
  </div>

  <div class="col-12 col-md-4 footer__columnRight">

    <div class="news-letter-subscription">
      <h3 class="pb-0 news-letter-subscription__title">NIEUWSBRIEF</h3>
      <p class="news-letter-subscription__call-to-action">
        Schrijf u in voor de NSFO Nieuwsbrief met gratis tips en inspiratie over dierregistratie-, gezondheid en -fokkerij.
      </p>
      <p class="news-letter-subscription__disclaimer">
        De nieuwsbrief verschijnt maximaal 4 keer per jaar.
      </p>

      <a href="http://eepurl.com/dwRYEn">
        <button type="button" class="btn text-center news-letter-subscription__button">
          INSCHRIJVEN
        </button>
      </a>
    </div>

    <p class="mt-5 copyright">&copy; NSFO 2017</p>

  </div>
</div>
