<div class="row footer pl-2 pr-2" [ngStyle]="{'background-image': 'url('+ backgroundImage + ')'}">
  <div class="col-12 col-md-8 pr-md-5 mb-3 footer__columnLeft">
    <div class="border-bottom">
      <p>
        NSFO is een professionele organisatie voor schapen- en geitenfokkers
      </p>
      <ul>
        <li>Registreren van schapen en geiten en hun afstamming</li>
        <li>Prestatieonderzoeken</li>
        <li>Fokwaardeberekening</li>
        <li>Bloed- en DNA onderzoeken van schapen en geiten</li>
        <li>Afgifte van dierengezondheids certificaten</li>
      </ul>
    </div>

    <div class="border-bottom">
      <p>
        NSFO<br>
        Postbus 160, 5300 AD Zaltbommel<br>
        T: 0418-561712<br>
        E: <a href="mailto:kantoor@nsfo.nl" class="footer__columnLeft__email-link">kantoor@nsfo.nl</a><br>
        KVK: 08108352<br>
      </p>
    </div>
  </div>

  <div class="col-12 col-md-4 footer__columnRight">

    <div class="news-letter-subscription">
      <h3 class="pb-0 news-letter-subscription__title">NIEUWSBRIEF</h3>
      <p class="news-letter-subscription__call-to-action">
        Schrijf u in voor de NSFO Nieuwsbrief met gratis tips en inspiratie over dierregistratie-, gezondheid en -fokkerij.
      </p>

      <a href="http://eepurl.com/dwRYEn">
        <button type="button" class="btn text-center news-letter-subscription__button">
          INSCHRIJVEN
        </button>
      </a>
    </div>

    <p class="mt-5 copyright">&copy; NSFO 2018</p>

  </div>
</div>
