.navbar {
  font-family: brandon_grotesquemedium;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #4a4a4a;

  & .active {
    font-family: brandon_grotesquebold;
  }

  ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0rem 6rem;
  }

  li {
    display: block;
    flex: 0 1 auto; /* Default */
  }
}
