<div class="row downloads-content d-flex justify-content-center">
  <div class="col-12 col-md-7 downloads-content__call-to-action">

    <h1 class="downloads-content__call-to-action--title">
      {{ downloadsPage?.fields.title }}
    </h1>

    <h2 class="downloads-content__call-to-action--subtitle">
      {{ downloadsPage?.fields.subtitle }}
    </h2>

    <p markdown [data]="downloadsPage?.fields.preface" class="downloads-content__call-to-action--preface">
    </p>

    <blockquote *ngIf="downloadsPage?.fields.banner" class="downloads-content__call-to-action--banner">
      {{ downloadsPage?.fields.banner }}
    </blockquote>

    <div markdown [data]="downloadsPage?.fields.body" class="downloads-content__call-to-action--content">
    </div>
  </div>

</div>

