<div class="newsItem row">
  <a class="col-12" [routerLink]="['/news', newsItem.sys.id]">
    <img class="img-fluid col-12"[src]="newsItem.fields.image.fields.file.url" alt="">
    <div class="col-12">
      <div class="col-12">
        <div class="newsItem__banner d-flex">
          <div class="newsItem__banner--icon pl-3 col-2">
            <img src="{{ newsItem.fields.icon.fields.file.url }}">
          </div>
          <div class="newsItem__banner--text pl-4 col-10">
            <p class="newsItem__banner--text__title mb-1 w-100">
              {{ newsItem.fields.title }}
            </p>
            <p class="newsItem__banner--text__subtitle w-100">
              {{ newsItem.fields.subtitle }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
