<div class="row">
  <div class="products p-4 d-flex justify-content-around flex-wrap">
    <app-product *ngFor="let product of products" class="col-12 col-sm-4 text-center mb-3" [product]="product"></app-product>
  </div>
</div>

<div class="row">
  <div class="col-12 pt-4 pb-4 pl-md-3 pl-1 pr-md-3 pr-1 call-to-action text-center">
    <div class="col-12 mb-2">
      <div class="call-to-action__title">STAP NU EENVOUDIG OVER</div>
      <div class="call-to-action__subtitle">PROFITEER VAN DE VOORDELEN VAN NSFO</div>
    </div>
    <div class="col-12 mb-4 call-to-action__bullets">
      <ul>
        <li><i class="fas fa-check"></i> Bundeling van kwaliteit en scherpe tarieven</li>
        <li><i class="fas fa-check"></i> ISO 9001:2008 gecertificeerd en voor exportdoeleinden geaccepteerd door de NVWA</li>
        <li><i class="fas fa-check"></i> Door RVO gemandateerd voor de uitgifte van officiële scrapie resistent certificaten</li>
        <li><i class="fas fa-check"></i> Ons CL-programma is erkend door de Vereniging Kwaliteitszorg Geitenhouderij Nederland (VKGN)</li>
      </ul>
    </div>
    <button type="button" class="btn call-to-action__button mx-auto">JA, IK STAP OVER</button>
  </div>
</div>

<div class="row">
  <div class="d-flex justify-content-around flex-wrap pt-4 pb-4 latest-news col-12">
    <app-news-item class="col-12 col-md-6" *ngFor="let newsItem of newsItems" [newsItem]="newsItem"></app-news-item>
  </div>
</div>
