.banner {
  height: 142px;
}

.banner__content--leftColumn {
  padding-right: 0px;
}

.banner__content--rightColumn__title {
  font-family: brandon_grotesquebold;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  //linkText-align: left;
  //color: #4a4a4a;
}
