.animal-health-article {
  margin-bottom: 30px;
}

.animal-health-article__image {
  width: 100%;
}

.animal-health-artical__textContainer {
  position: absolute;
  bottom: 15%;
  width: 65%;
}

.animal-health-article__topic {
  font-family: brandon_grotesquemedium;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-align: left;
  color: #f8f8f8;
}

.animal-health-article__title {
  font-family: SourceSerifPro;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: left;
  color: #f8f8f8;
}
