.animal-health-artical__container {
  width: 100%;
  height: 100%;
}

.animal-health-article {
  width: 100%;
  padding-top: 65%;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.animal-health-artical__textContainer {
  padding-top: 30%;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 75%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  padding-bottom: 2rem;

  @media only screen and (max-width: 425px) {
    padding-top: 18%;
  }
}

.animal-health-article__topic {
  font-family: brandon_grotesquemedium;
  font-size: 1vh;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-align: left;
  color: #f8f8f8;
  word-break: break-all;
  margin-bottom: 0.6rem;
  text-transform: uppercase;

  @media only screen and (max-width: 764px) {
    margin-bottom: 0.3rem;
  }
}

.animal-health-article__title {
  font-family: SourceSerifPro;
  font-size: 1.6vh;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: left;
  color: #f8f8f8;
  word-break: break-all;
  text-overflow: ellipsis;
  text-transform: uppercase;

  @media only screen and (max-width: 764px) {
    font-size: 1.3vh;
  }
}
