<div class="animal-health-artical__container">
  <a [routerLink]="['/animal-health', animalHealthArticle.sys.id]">
    <div class="animal-health-article d-flex"  [ngStyle]="{'background-image': 'url(' + animalHealthArticle.fields.image.fields.file.url + ')'}">
    </div>
    <div class="animal-health-artical__textContainer d-flex align-content-start flex-wrap">
      <p class="col-12 animal-health-article__topic">{{ animalHealthArticle.fields.topic }}</p>
      <p class="col-12 animal-health-article__title">{{ animalHealthArticle.fields.title }}</p>
    </div>
  </a>
</div>


