<div class="row animal-health-content d-flex justify-content-center">
  <div class="animal-health-content__call-to-action col-12">

    <h1 class="animal-health-content__call-to-action--title">
      {{ animalHealthPage?.fields.title }}
    </h1>
    <h2 class="animal-health-content__call-to-action--subtitle">
      {{ animalHealthPage?.fields.subtitle }}
    </h2>

    <p markdown [data]="animalHealthPage?.fields.preface" class="animal-health-content__call-to-action--preface">
    </p>

    <blockquote *ngIf="animalHealthPage?.fields.banner" class="animal-health-content__call-to-action--banner">
      {{ animalHealthPage?.fields.banner }}
    </blockquote>

    <div markdown [data]="animalHealthPage?.fields.body" class="animal-health-content__call-to-action--content">
    </div>
  </div>

</div>

<div class="row animal-health-banners">
  <app-banner class="col-12" *ngFor="let animalHealthBanner of animalHealthBanners" [banner]="animalHealthBanner"></app-banner>
</div>

<div class="row d-flex animal-health-articles">
  <p class="col-12 animal-health-articles__title">MEER OVER DIERGEZONDHEID</p>
  <app-animal-health-article class="col-6 col-md-4 animal-health-articles__container" *ngFor="let animalHealthArticle of animalHealthArticles" [animalHealthArticle]="animalHealthArticle"></app-animal-health-article>
</div>
