.animal-health-content {
  background-color: #f8f8f8;
}

.animal-health-content__call-to-action {
  padding-top: 4rem;
  width: 564px;
}

.animal-health-content__call-to-action--title {
  font-family: brandon_grotesquemedium;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  color: #4a4a4a;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 2rem;
}

.animal-health-content__call-to-action--subtitle {
  font-family: brandon_grotesqueblack;
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 1.3px;
  text-align: left;
  color: #419e66;
  margin-bottom: 2rem;
}

.animal-health-content__call-to-action--preface {
  font-family: CrimsonText-Roman;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 4rem;
}

.animal-health-content__call-to-action--banner {
  font-family: CrimsonText-Roman;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #419e66;
  border: 3px solid;
  border-width: 3px 0px;
  border-color: #459d68;
  margin-bottom: 4rem;
}

.animal-health-content__call-to-action--content {
  .animal-health-content__call-to-action--content__heading {
    font-family: brandon_grotesquemedium;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #459d68;
  }

  .animal-health-content__call-to-action--content__text {
    font-family: SourceSerifPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
  }

  margin-bottom: 2rem;
}

.animal-health-articles {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.animal-health-articles__title {
  font-family: brandon_grotesqueblack;
  font-size: 19px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #419e66;
}
